body {
	font-family: "Segoe UI", sans-serif;
}

form {
	max-width: 400px;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #fff;
}

.dropdown-toggle::after {
	margin-left: 0.5em;
}

.profile-dropdown .dropdown-menu {
	min-width: 200px;
}

.profile-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

#searchForm {
	max-width: 100% !important;
}